.profile {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

@media (max-width: 768px) {
    .profile {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}