.like__button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-disabled.svg);
    border: 0;
    background-color: transparent;
    transition: opacity 0.5s;
    cursor: pointer;
    margin-bottom: 3px;
}

.like__button:hover {
    opacity: 0.5;
}